/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-md
 *= require flat-ui
 * require neon-core
 *= require_self
 *= require navbar
 *= require rippler
 *= require custom_datatable
 */

   body {
     font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif;
     font-size: 15px;
   }
   h4, .h4{
     font-size: 15px;
   }
   a{
     text-decoration:none;
    }
    table a, .table a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      color: #34495e;
    }
    .btn {
      border-radius:3px;
    }
    th {
      color:#ffffff; background-color: #2c3e50;
    }
    
   .modal-content  {
       -webkit-border-radius: 3px !important;
       -moz-border-radius: 3px !important;
       border-radius: 3px !important;
   }
   .panel-heading h3, .panel-heading span {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     line-height: normal;
     width: 75%;
     padding-top: 8px;
 }
   body.page-fade-only:before {

   }
  body.page-fade-only {
    background: #303641;
    content:url(/icons/preloader.gif);
    width:50px;
    height:50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-transform-origin: 50% 30%;
    -moz-transform-origin: 50% 30%;
    -ms-transform-origin: 50% 30%;
    -o-transform-origin: 50% 30%;
    transform-origin: 50% 30%;
  }
  body.page-fade-only > .page-container {
    -webkit-transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: 900ms all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  body.page-fade-only-init {
    background: #ffffff;
  }
  body.page-fade-only-init > .page-container {
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }

 .pagination-right{
   float:right;
 }
