<footer>
    <div class="footer-inner">
        <div class="footer-text">
            <strong>Codecracker</strong>© by <a href="#" target="_blank"> Neetesh Kumar | GNU Linux Users' Group, NIT Durgapur</a>
        </div>
    </div>
</footer>
