<footer class="main">
  <div class="container">
    <div class="pull-left">
      <strong>CodeCracker</strong> by GNU LINUX USERS GROUP
    </div>
    <div class="pull-right">
        <strong>Powered By:</strong> <a href="http://www.ungineering.com">ungineering</a>
    </div>
  </div>
</footer>
