<footer class="main">
  <div class="container">
    <div class="pull-left">
      <strong>CodeCracker</strong> by GNU LINUX USERS GROUP
    </div>
    <div class="pull-right">
        <strong>Source Code:</strong> <a href="https://github.com/kumarneetesh24/OnlineJ">OnlineJ</a>
    </div>
  </div>
</footer>
